body {
    background: linear-gradient(135deg, #ff99cc, #ffcc99);
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
